@media screen and (max-width: 480px){
    .numshol{
        width: 80%;
    }
    .container{
        height: auto;
        margin: 20px auto;
        width: inherit;
        padding:5px;
    }
    .maincontent{
        width: 90%;
        display: block;
    }
    .container h3{
        font-size: 1.2rem;
    }
    .colored{
        width: 100px;
        height: inherit;
        margin-left: 6px;
    }
    .colored h4{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 848px){
    .numshol{
        width: 90%;
    }
}
